<div id="match-display">
    <%= m.teams_display %>
    <%= link_to "#{m.date_and_time}", competition_match_path(m.competition.id, m) %><br>
    <%= link_to "#{m.location.name}", location_path(m.location) %><br>
    <%= m.location_notes %><br><br>
</div>