<h1>TEAMS INDEX PAGE</h1>

<% if @teams == nil || @teams.empty? %>
    <h3>Your league is not set up.  Contact the league administrator to setup teams</h3>
<% else %>
    <ul>
        <% @teams.each do |t| %>
            <li><%= link_to t.name, team_path(t) %></li>
        <% end %>
    </ul>
<% end %> 

<%= link_to "Create a New Team", new_team_path %>