<h1>The <%= @season.year %> Season</h1>

<div class="col-2-wide">
    <% if logged_in? && current_user.admin? %>
        <%= render partial: "admin_options", locals: {season: @season} %>
    <% end %>
</div>

<div class="col-1-narrow">
    <h2>Competitions For This Season: </h2>
    <ul>
        <% @season.competitions.each do |c| %>
            <li><%= link_to c.name, competition_path(c) %></li>
        <% end %>
    </ul>

    
</div>

