<h1>The <%= @season.year %> Season</h1>
<h4>Add competition to this season:</h4>
<% form_for @season, url: {action: 'update'} do |f| %>
    <%= f.collection_check_boxes(:competition_ids, Competition.all, :id, :name) %>
<% end %>

<%= link_to "Create a new competition to this season", new_season_competition_path(@season) %>
<ul>
    <% @season.competitions.each do |c| %>
        <li><%= link_to c.name, competition_path(c) %></li>
    <% end %>
</ul>