<h2>Add Or Create A New Competition</h2>

<% if @comp.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @comp.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>

<%= render 'form' %>