<h2>Add Or Create A New Competition</h2>


<%= form_for(@comp, url: season_competitions_path(@season)) do |f| %>
    <%= f.label "Competition Name:" %>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>