<div id="welcome">
    <h1>Welcome to League Manager</h1>
    <h2><%=link_to "Find Your Team", teams_path %></h2>
    <h2><%=link_to "Login as Administrator", "/admin"%></h2>
    <h2>Login as Coach</h2>
    <h2>Login as Referee<h2>
    <h2><%= link_to "Create an Administrator Account", new_administrator_path %><h2>
</div>