<div id="welcome">
    <h1>Welcome to League Manager</h1>
    <h2><%=link_to "Find Your Team", teams_path %></h2>
    <h2>Login as Administrator</h2>
    <h2>Login as Coach</h2>
    <h2>Login as Referee<h2>
</div>