<h1>Coach Signup Form</h1>

<% if @coach.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @coach.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>

<%= render partial: "form", locals: {coach: @coach} %>