<h1>Create A New Admin Account</h1>

<% if @admin.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @admin.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>


<%= render partial: 'form', locals: {admin: @admin} %>