<h1>Create a new Referee Account</h1>

<% if @ref.errors.any? %>
  <div id="error_explanation"> 
    <ul>
    <% @ref.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div><br>
<% end %>


<%= render partial: "form", locals: {ref: @ref} %>