<div id="location-show-info">
    <%= render partial: "location", locals: {location: @location} %>
</div>

<% if @location.has_matches? %>
    <h3>Upcoming Matches at this location</h3>
        <% @location.upcoming_matches.each do |m| %>
            <%= render partial: "match_display", locals: {m: m} %>
         <% end %>
    <h3>These Matches took place at this location:</h3>
        <% @location.past_matches.each do |m| %>
            <%= render partial: "match_display", locals: {m: m} %>
        <% end %>
<% else %>
    <h3> There Are no matches for <%= @location.name %></h3>
<% end %>
